body{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4e3f30;
    text-align: center;
}
.img-perfil{
    border-radius: 100%;
    margin: 10px 40px;
    width: 325px;
    border: 2px solid #4e3f30;
}
a{
    color: green;
    text-decoration: none;
}
#conteudo{
    margin: 10px auto;
    width: 900px;
    background-color: #fefeeb;
    padding: 10px;
}

#topo{
    display: flex;
    background-color:#fefeeb ;
    padding: 10px;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #a5b3aa;
}

#descricao{
border-left: 1px solid #4e3f30;
padding: 15px 15px;
}

#habilidades{
    display: flex;
    justify-content: space-around;
    background-color: #fefeeb;
}

.link-descricao{
    display: flex;
}
.link-descricao a{
    padding: 5px 5px;
    background-color: #f8f4e4;
    border-radius: 5px;
    border: 2px solid #4e3f30;
    color: #4e3f30;
    display: inline;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-abilidades{
    background-color: #f8f4e4;
    width: 300px;
    padding: 5px 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: self-start;
    text-align: left;
}

.box-abilidades h3{
    text-align: center;
    align-self: center;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

a img{
    
    width: 15%;
    border-radius: 100%;
    padding: 0px;
    margin-right: 10px;
    background-color: #fefeeb;
}